.logo{
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.loader{
    width: 130px;
    border-bottom: 1 solid 045be6;
    height: 3px;
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 0;
    left: 20px;
    background: #d5d5d5;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.loader::after{
    content: '';
    position: absolute;
    width: 70px;
    background: #045be6;
    height: 3px;
    border-radius: 2px;
    animation: loading 1.5s infinite ease;
}

@keyframes loading{
    0%,100%{
        transform: translateX(-44px);
    }
    50%{
        transform: translateX(100px);
    }
}